*.js
!jest.config.js
!eslint.config.js
!eslint.ignores.js
!.prettierrc.js
*.d.ts
node_modules
coverage

# CDK asset staging directory
.cdk.staging
cdk.out

# Environment variables
environmentVariables.env